//Mixins & Extends
@mixin flex-general ($w, $d, $j, $a, $wr, $ac) {
    display: flex;
    width: $w;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
    flex-wrap: $wr;
    align-content: $ac;
}

%container {
    @include flex-general(
        $main-container-sz, 
        row, 
        center, 
        flex-start,
        wrap, 
        inherit
    );
    box-sizing: border-box;
    padding: 0 1rem;
}

%box {
    padding: 30px 10px 30px 10px;
    border-radius: 5px; 
    margin-right: 5px;
    margin-bottom: 5px;
    &:last-of-type {
        margin-right: 0;
    } 
}

@mixin box-general-loop ($basecolor, $color1, $color2, $color3) {
    @for $c from 1 through 3 {
        @if $c == 1 {
            $basecolor: $color1;
        } @else if $c == 2 {
            $basecolor: $color2;
        } @else if $c == 3 {
            $basecolor: $color3;
        }
        div.container-#{$c} {
            @extend %container;
            div.box {
                @extend %box;
                background-color: $basecolor;
            }
            @for $i from 1 through 4 {
                div.darken-#{$i} {
                    background-color: darken_color($basecolor, 5% * $i);    
                    color: invert(darken_color($basecolor, 5% * $i));
                }
                div.lighten-#{$i} {
                    background-color: lighten_color($basecolor, 5% * $i);    
                    color: invert(lighten_color($basecolor, 5% * $i));
                }
            }
        }
    }
}

@function darken-color($color, $percen) {
    @return darken($color, $percen);
}

@function lighten-color($color, $percen) {
    @return lighten($color, $percen);
}
