//Colors
$color-white: #fff;
$color-black: #000;
$bg-primary: dodgerblue;
$base-color: darkmagenta;
$base-color-primary: #23310b;
$base-color-secondary: #cfcf20;
$base-color-default: #f7f0e2;

//font
$font: sans-serif;

//Sizes
$media-small-land: 768px;