//Colors
$color-red: #dc0028;
$color-orange: #ffa400;
$color-orange-clear: #ffb640;
$color-orange-dark: #ff9500;
$color-bg-sand: #fff3de;
$color-blue-dark: #071e4f;
$color-blue-clear: #294785;

//Fonts
$font: 'Goudy Bookletter 1911', serif;

//Sizes
$font-size: 1rem;
$mb-1: 1rem;