@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$color-base: red;
$color-second: lighten($color-base, 35%);
$border: 0px;
$fontbase: 'Open Sans', sans-serif;
$fontsecond: 'DM Sans', sans-serif;
$shadow: -10px 10px 15px black;