@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

$color-base: blue;
$color-second: turquoise;
$border: 5px;
$fontbase: 'Libre Baskerville', serif;
$fontsecond: 'Tapestry', cursive;
$shadow: 10px 10px 15px black;
