
@mixin container($w: 1440px) {
    width: $w;
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    box-sizing: border-box;
}
@mixin flexbox($w, $d, $j, $a, $wr: wrap) {
    display: flex;
    width: $w;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
    flex-wrap: $wr;
}