@import '../../../styles.scss';

.footer {
  width: 100%;
  background-color: $bgColor;
  color: $whiteColor;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
