//Colors
$color-white: #fff;
$bg-primary: dodgerblue;
$base-color: darkmagenta;
$base-color-primary: crimson;
$base-color-secondary: chocolate;
$base-color-default: cyan;

//Sizes
$main-container-sz: min(810px, 100%);